<!--**********************************
            Sidebar start
        ***********************************-->
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Dashboard</li>
            <li>
                <a href="/">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Add Course</span>
                </a>
            </li>
            <li>
                <a href="/staffs">
                    <i class="icon-note menu-icon"></i><span class="nav-text">Add Staff</span>
                </a>
            </li>
            <li>
                <a href="/registerDetails">
                    <i class="icon-graph menu-icon"></i><span class="nav-text">Registered Details</span>
                </a>
            </li>
            <li>
                <a href="/deleteCourse">
                    <i class="icon-grid menu-icon"></i><span class="nav-text">Edit Course</span>
                </a>
            </li>
            <li>
                <a href="/courseList">
                    <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Course List</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--**********************************
        Sidebar end
    ***********************************-->